* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #043873;
}

header {
  padding: 16px 0;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  gap: 10px;
  align-items: center;
}

.links {
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.yellow-btn {
  width: 126px;
  height: 60px;
  background-color: #ffe492;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  color: #212529;
}
.blue-btn {
  width: 227px;
  height: 60px;
  background-color: #4f9cf9;
  border-radius: 8px;
  border: 0;
  font-size: 18px;
  color: white;
}

.header__nav {
  display: flex;
  gap: 10px 96px;
  align-items: center;
  flex-wrap: wrap;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.hero-section {
  height: 829px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns {
  display: flex;
  gap: 24px;
}

.text-block h2 {
  font-size: 64px;
  color: white;
  width: 100%;
  z-index: 2;
  position: relative;
}

.texts {
  max-width: 656px;
}

.text-block p {
  color: white;
  font-size: 18px;
  width: 100%;
  margin: 24px 0 64px;
}

.img-block {
  height: 529px;
  width: 824px;
  background-color: skyblue;
}

.hero-section .container {
  display: flex;
  align-items: center;
}

.element {
  position: absolute;
  bottom: -15px;
  z-index: 1;
}

.text-block {
  position: relative;
}

.heading {
  position: relative;
  width: max-content;
}

.project-managment,
.work-together {
  background-color: white;
  height: 760px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-managment .text-block,
.work-together .text-block {
  max-width: 672px;
}

.project-managment .container,
.work-together .container {
  display: flex;
  gap: 60px;
  align-items: center;
  flex-wrap: wrap;
}

.project-managment .img-block {
  width: 748px;
  height: 547px;
}

.project-managment h2,
.project-managment p,
.work-together h2,
.work-together p {
  color: #212529;
}

.choose-plan {
  background-color: white;
  height: 1272px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose-plan .container{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.choose-plan h2,
.choose-plan p {
  text-align: center;
  max-width: 979px;
  margin: 0 auto;
  color: #212529;
}

.choose-plan .heading {
  margin: 0 auto 24px;
}

.subscriptions{
    display: flex;
    gap: 32px;
    align-items: center;
}

.free , .organization {
  width: 472px;
  height: 634px;
  padding: 40px;
  border: 1px solid #ffe492;
  border-radius: 10px;
}

.price {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.price span:nth-child(1) {
  font-size: 24px;
  font-weight: 700;
  color: #212529;
}

.price span:nth-child(2) {
  font-size: 36px;
  font-weight: 800;
  color: #212529;
}

.price span:nth-child(3) {
  font-size: 18px;
  font-weight: 600;
  color: #212529;
}

.free , .personal , .organization {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
}

.free ul,
.personal ul , .organization ul{
  display: flex;
  flex-direction: column;
  gap: 28px;
  list-style: none;
}
.free ul li , .organization li{
  font-size: 16px;
  color: #212529;
}

.free button, .organization button {
  width: 166px;
  height: 51px;
  background-color: transparent;
  border: 1px solid #ffe492;
  border-radius: 8px;
}

.personal {
  background-color: #043873;
  width: 472px;
  height: 761px;
  padding: 80px 40px;
}

.personal .price span {
  color: white;
}

.personal .price span:nth-child(2) {
  color: #ffe492;
}

.personal ul li {
  color: white;
}

.personal button {
  width: 166px;
  height: 51px;
  background-color: #4f9cf9;
  border: none;
  border-radius: 8px;
  color: white;
}
